<div class="conteiner">
  <app-nav-bar></app-nav-bar>
  <div class="flex w-full justify-between">
    <div class="max-w-1/3">
      <app-pet-component (petCreated)="addPet($event)"></app-pet-component>
      <div class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-2xl">Pets adicionados:</h1>
        <app-pet-name *ngFor="let pet of pets" [name]="pet.name" [portion]="pet.portion"></app-pet-name>
      </div>
    </div>
    <div class="max-w-1/2">
      <app-form-racao (racaoCreated)="addRacao($event)"></app-form-racao>
      <div class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-2xl">Rações:</h1>
        <app-racao-component *ngFor="let racao of racoes" [name]="racao.name" [quantity]="racao.quantity" [price]="racao.price" [beneficio]="racao.beneficio"></app-racao-component>
      </div>
    </div>
    <div class="max-w-1/3">
      <app-data-compononet [marcasTotal]="dados.marcasTotal" [petsTotal]="calculateTotalPets()" [porcaoTotal]="calculatePortionTotal()" [porcaoDiaMedia]="dados.porcaoDiaMedia"></app-data-compononet>
    </div>
  </div>
</div>
